* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #f9faf8;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  margin: 56px;
}

header {
  height: 100vh;
  background-color: #1f2937;
  padding: 0 250px;
  position: relative;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__logo {
  font-size: 32px;
  font-weight: 900;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.header__nav li {
  list-style: none;
  font-size: 18px;
  color: #e6e7eb;
  cursor: pointer;
}

.hero {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.hero__header {
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.hero__secondary {
  font-size: 18px;
  color: #e5e7eb;
}

.hero_button {
  display: inline;
  color: #e5e7eb;
  background-color: #3882f6;
  border-radius: 5px;
  padding: 7px 15px;
  width: 100px;
  border: none;
  cursor: pointer;
}

.hero__img {
  width: 50%;
}

.hero__img img {
  display: inline-block;
  max-width: 100%;
}

.gallery__photos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 125px;
}

.photo__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  gap: 15px;
}

.gallery__image {
  max-width: 150px;
  width: 100%;
  border-radius: 12px;
}

.gallery__text {
  color: #1f2937;
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  padding: 120px 400px;
}

blockquote {
  font-size: 32px;
  font-weight: 200;
  font-style: italic;
  color: #1f2937;
  line-height: 1.4;
  margin-bottom: 7px;
}

.quote__author {
  color: #1f2937;
  font-weight: 700;
  text-align: right;
  padding-right: 50px;
}

.blue__box {
  background-color: #3882f6;
  color: #e5e7eb;
  width: 600px;
  border-radius: 8px;
  margin: 75px auto;
  padding: 25px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first__paragraph {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5px;
}

.second__paragraph {
  color: #e5e7eb;
}

.blue__box--signup {
  color: #e5e7eb;
  background-color: transparent;
  border: 1.5px solid #e5e7eb;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

footer {
  color: #e5e7eb;
  background-color: #1f2937;
  text-align: center;
  padding: 30px;
}
